./__pycache__
.DS_Store
env/
**.pyc
**/*.pyc
.postgres/pgdata/*
.vscode/
postgres/pgdata/
postgres/dump.sql
.gitignore
spiders/config.py
3/
**/bss.log
**/db.log
spiders/pids.txt
spiders/game_dates.json
